* {
    margin: 0;
    padding: 0;
    background-color: #aaa;
}

.clock {
    border: 2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    background-color: rgb(82, 82, 82);
    border: 10px solid #000;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    color: #fff;
    font-size: 7rem;
    font-family: 'Qahiri', sans-serif;
}

footer {
    font-size: 2rem;
    margin-top: 10px;
    color: rgb(82, 82, 82);
    font-family: 'Barlow Condensed', sans-serif;
}